################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/FSMS/.vs/FSMS/FileContentIndex
/src/FSMS/FSMS/bin/Debug/net8.0
/src/FSMS/FSMS/obj/Debug/net8.0
/src/FSMS/.vs/FSMS/config
