.container{
    width: 800px ;
    border: 3px solid rgb(157, 155, 236);
    margin: 60px auto;
    padding: 20px;
    border-radius: 20px;
    background-color: #8b93ff;
  }
  .bg{
    background-color: rgb(157, 155, 236);
  }

  .form-label {
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  .form-control {
    background-color: #f8f9fa; /* Light grey background */
  }
  .btn {
    width: 100%;
    border-radius: 20px;
    background-color: #0ed190; /* Yellow button */
    color: #212529; /* Dark grey text */
  }
  .btn:hover {
    background-color: grey; /grey on hover */
  }

  .whole {
    background-color: rgba(44, 112, 112, 0.877);
  }

  .loginlink{
    color:#212529 ;
  }