<!--login page-->
  <div class="container">
    <h3 class="mt-3 text-center fw-bold">Welcome back!</h3>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label mb-2 fw bold">Email</label>
      <input type="email" class="form-control rounded-3  border-warning bg" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label mb-2 fw bold">Password</label>
      <input type="password" class="form-control rounded-3 border-warning bg" id="exampleFormControlInput1" placeholder="Password">
    </div>
    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label fw-semibold" for="gridCheck">
          Remember me
        </label>
      </div>
  </div>
  <div class="mb-3">
    <a href="/src/FSMS/FSMS/Views/Home/index.html">
    <button type="button" class="btn mt-3 fw-bold" id="exampleFormControlInput1">Login</button>
    </a>
  </div>
  <hr>
    <div class="mb-3">   
            <a href="/src/FSMS/FSMS/Views/Home/index.html" class="loginlink">
                <button type="button" class="btn mt-3 fw-bold btn-primary">    
                <img src="/src/FSMS/FSMS/Views/img/google.png" alt="Google Icon" width="20" height="20"> Login with Google
                </button>
            </a>
      </div>
  <hr>
  <div class="mb-3">
    <a href="/Access/forgotpassword.html">Forgot password?</a>
    <br>
    <a href="/Access/createaccount.html">Create account!</a>
</div>
  















   
