#Container {
    background-color: white;
    width: 500px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

@media only screen and (max-width: 768px) {
    #Container {
        background-color: white;
        width: 90%;
        padding: 5px;
        border-radius: 5px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    }

        #logo{
            width: 120px;
        }
}
