@{
    Layout = "~/Views/Authentication/_Layout.cshtml";
    ViewData["Title"] = "Welcome";
}

<div id="Container">
    ddd
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>



    </script>
}