#first-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6px;
}

.Card {
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
}

#second-container{
    padding: 10px;
    background-color:burlywood;
}

#Custom-table {
    border-left: 1px solid;
    border-top: 1px solid;
    border-right: 1px solid;
    border-top-left-radius: 10px;
    background-color: red;
    padding: 10px;
    display: grid;
    grid-template-columns: 23% 77%;
}

#first-column {
    background-color: white;
    border-right: 1px solid;
    border-bottom: 1px solid;
}
#other-columns {
    background-color: white;
    border-bottom: 1px solid;
}


/* Media query for smaller screens (adjust breakpoint as needed) */
@media (max-width: 768px) {
    #first-container {
        grid-template-columns: 1fr; /* Single column on smaller screens */
    }
}