@{
    ViewData["Title"] = "Users";
}

<div id="first-container">

    <div class="Card">
        ddd
    </div>

    <div class="Card">
        ddd
    </div>

    <div class="Card">
        ddd
    </div>

</div>

<br/>

