@{
ViewData["Title"] = "new";
}

<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="/src/FSMS/FSMS/Views/img/fsms-logo.png" alt="Your Company Logo" height="50">
        </a>
        <a class="navbar-brand brand-text" href="#">FSMS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Header -->
<header class="jumbotron jumbotron-fluid bg-dark text-white text-center">
    <div class="container">
        <h1 class="display-4">Welcome to Your Website</h1>
        <p class="lead">We provide amazing services to meet your needs.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>
</header>

<!-- Main Content Section -->
<h3>This is just a sample which has been created so as to set up the new dashboard and thus replacing 
    it with the codes at the index file </h3>
<section class="container">
    <h2 class="text-center mb-4">Our Services</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="/src/FSMS/FSMS/Views/img/tralogo.png" style="width: 10rem;height: 10rem;align-items: center;" class="card-img-top mx-auto" alt="Service 1">
                <div class="card-body text-center">
                    <h5 class="card-title">Service 1</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam condimentum nunc id risus fermentum, non volutpat ipsum ultricies.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="/src/FSMS/FSMS/Views/img/tpdclogo.png" style="width: 10rem;height: 10rem;" class="card-img-top mx-auto" alt="Service 2">
                <div class="card-body text-center">
                    <h5 class="card-title">Service 2</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam condimentum nunc id risus fermentum, non volutpat ipsum ultricies.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="/src/FSMS/FSMS/Views/img/fsms-logo.png" style="width: 10rem;height: 10rem;" class="card-img-top mx-auto" alt="Service 3">
                <div class="card-body text-center">
                    <h5 class="card-title">Service 3</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam condimentum nunc id risus fermentum, non volutpat ipsum ultricies.</p>
                </div>
            </div>
        </div>
    </div>
</section>



