<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FSMS</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-grid.min.css"/>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-reboot.min.css"/>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-utilities.min.css"/>
    <link rel="stylesheet" href="/bootstrap-icons/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FSMS.styles.css" asp-append-version="true" />
    <link rel="icon" type="image/svg" href="/logo.svg" />
</head>
<body>
    <div id="page">

        <section id="sideNav">
            
            <header>
                <span id="appName">Fuel Station Management System</span>
            </header>

            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <i style="font-size:26px;" class="bi bi-list"></i>
            </button>

            <div style="padding:5px;" class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div style="padding:0;margin:0;display:flex;flex-direction:column;gap:10px;" class="offcanvas-body">
                    
                    <a class="myNav active" asp-area="" asp-controller="Home" asp-action="Index" style="">
                        <i style="font-size:16px;flex-basis:10%" class="bi bi-list"></i>
                        Home
                    </a>

                    <a class="myNav" asp-area="" asp-controller="Home" asp-action="Privacy">
                        <i style="font-size:16px;flex-basis:10%" class="bi bi-list"></i>
                        Privacy
                    </a>

                </div>
            </div>

        </section>

        <div id="content">
            @RenderBody()
        </div>

    </div>
    <script src="/jquery/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <style>
        .myNav {
            background-color: #171b24;
            width: 100%;
            padding: 5px;
            border-radius: 5px;
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: center;
            cursor: pointer;
            text-decoration: none;
            color: white;
        }

        .myNav:hover{
            color: white;
            font-weight: 550;
        }
    </style>
</body>
</html>
