@page
@model FuelLevelsModel
@{
    ViewData["Title"] = "Fuel Levels";
}

<h1>Fuel Levels</h1>
<p> monitor the fuel levels in real time.</p>
<div class="col-md-3 mb-3">
    <div class="card text-bg-primary h-100">
        <div class="card-header">DISPENSER 1</div>
        <div class="card-body">
            <h5 class="card-title" id="dispenser3-title">d1 fuel level</h5>
            <p class="card-text" id="dispenser3-content">Loading...</p>
        </div>
    </div>
</div>

<h1>Fuel Levels</h1>
<p> monitor the fuel levels in real time.</p>
<div class="col-md-3 mb-3">
    <div class="card text-bg-primary h-100">
        <div class="card-header">DISPENSER 2</div>
        <div class="card-body">
            <h5 class="card-title" id="dispenser3-title">d2 fuel level</h5>
            <p class="card-text" id="dispenser3-content">Loading...</p>
        </div>
    </div>
</div>


<h1>Fuel Levels</h1>
<p> monitor the fuel levels in real time.</p>
<div class="col-md-3 mb-3">
    <div class="card text-bg-primary h-100">
        <div class="card-header">DISPENSER 3</div>
        <div class="card-body">
            <h5 class="card-title" id="dispenser3-title">d3 fuel level</h5>
            <p class="card-text" id="dispenser3-content">Loading...</p>
        </div>
    </div>
</div>

<script src="~/js/fuelLevels.js"></script>